<html>
	<head>

	</head>

	<body bgcolor="#303030">
		<center>
			<div style=background-color:#E0E0E0;width:55%;height:60%;position:relative;top:130px;float-center>
				<center >
					<img src="/images/niafikra.png"width:30px;height:20px;>
					<h1><blink><font color="grey"size="4"> FILE UPLOADER</blink></h1>
					
					<form method="post"enctype="multipart/form-data" action="uploadf">
					
					
						<input type="file" name="myFile" /> 
						<input type="submit" />


					</form>
				</center>
			</div>
		</center>
	</body>
</html>
